<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SongBook</title>
  {{!--
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script> --}}
  <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css" />
  {{!--
  <link rel="stylesheet" href="https://unpkg.com/@thesephist/paper.css/dist/paper.min.css" /> --}}
  <link rel="stylesheet" href="https://unpkg.com/blocks.css/dist/blocks.min.css" />
  <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
  {{{body}}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>

    $(() => {

      $("#search-btn").click((e) => {
        e.preventDefault();
        const name = $('[name=artist_name]').val().trim();
        $.ajax("/api/playlists/" + name, {
          type: "GET",
        }).then(data => {
          $('#playlist-wrapper').empty();
          data.forEach(i => $('#playlist-wrapper').append($('<p>').text(i).addClass('block fixed')));
          $("#save-wrapper").show();
        });
      });

      $('#save-btn').click(async (e) => {
        e.preventDefault();
        const name = $('[name=playlist_name]').val().trim();
        const response = $.ajax("/api/playlists/", {
          type: "POST",
          data: { name }
        })
        console.log(response);

        const title = $('[name=playlist_name]').val().trim();
        const url = $('[name=playlist_name]').val().trim();


        $('#save-wrapper').append($('<p>').text('Added playlist!'))
        const burrito = $.ajax("/api/db/playlists", {
          type: "POST",
          data: { title, url }
        })
      })
    })
  </script>
</body>

</html>