<header>
  <h1 class="new-header">Browse Playlists</h1>
</header>
<section id="existing-wrapper">
  {{#each info}}
  <p class="block fixed row-item"><span>{{dataValues.title}}</span><a href="{{dataValues.url}}">link!</a></p>
  {{/each}}
</section>