<header>
  <h1 class="new-header">Browse Playlists</h1>
</header>
<section id="existing-wrapper">
  {{#each info}}
  <p class="block fixed row-item"><span>{{dataValues.title}}</span><a href="{{dataValues.url}}"><img height="18"
        width="18" src="https://unpkg.com/simple-icons@v4/icons/spotify.svg" /></a></p>
  {{/each}}
</section>