<header>
  <h1>New Playlist</h1>
</header>
<form action="#">
  <p>
    <label>Artist Name:</label><br>
    <input type="text" name="artist_name">
    <button id="search-btn">Search</button>
  </p>
</form>
<section id="playlist-wrapper">
</section>
<button id="save-btn" style="display:none">Save</button>