<header>
  <h1>New Playlist</h1>
</header>
<form action="#">
  <p>
    <label>Artist Name:</label><br>
    <input type="text" name="artist_name">
    <button id="search-btn">Search</button>
  </p>
</form>
<section id="playlist-wrapper">
</section>
<form action="#" id="save-wrapper" style="display:none">
  <input type="text" name="playlist_name" placeholder="Enter playlist name...">
  <button id="save-btn">Save</button>
</form>